{% extends "admin/adminmaster.html" %}
{% block head %}
<style>
    /* Bootstrap css */
    @import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
    
    /* Google Material icons */
    @import "http://fonts.googleapis.com/icon?family=Material+Icons";
    
    /* Propeller css */
    @import "dist/css/propeller.min.css";
    
    /* Bootstrap datetimepicker */
    @import "datetimepicker/css/bootstrap-datetimepicker.css";
    
    /* Propeller datetimepicker */
    @import "datetimepicker/css/pmd-datetimepicker.css";
     </style>
{% endblock head%}


{% block content %}
<!-- jquery JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap js -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Propeller textfield js --> 
<script type="text/javascript" src="dist/js/propeller.min.js"></script>

<!-- Datepicker moment with locales -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>

<!-- Propeller Bootstrap datetimepicker -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script>

<script>
	// Linked date and time picker 
	// start date date and time picker 
	$('#datepicker-start').datetimepicker();

	// End date date and time picker 
	$('#datepicker-end').datetimepicker({
		useCurrent: false 
	});
	
	// start date picke on chagne event [select minimun date for end date datepicker]
	$("#datepicker-start").on("dp.change", function (e) {
		$('#datepicker-end').data("DateTimePicker").minDate(e.date);
	});
	// Start date picke on chagne event [select maxmimum date for start date datepicker]
	$("#datepicker-end").on("dp.change", function (e) {
		$('#datepicker-start').data("DateTimePicker").maxDate(e.date);
	});
</script>

<div class="container">
<br>
  <h2>ADD NEW NOTICE</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#image">Image</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#video">Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pdf">PDF</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#text">Text</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="image" class="container tab-pane active"><br>
     
      <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                                <h1 class="display-4">Upload Image</h1></th>

                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <div class="input-group">
                            <td scope="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" accept="image/*">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </td  >                      
                        </div>
                    </tr>

                    <tr>
                        <td scope="row">
                            post to-
                        </td>
                        <td>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                        value="something" checked>MCA
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check2">
                                    <input type="checkbox" class="form-check-input" id="check2" name="vehicle2"
                                        value="something">CS
                                </label>
                            </div>
                            <div class="form-check-inline">
                                    <label class="form-check-label" for="check1">
                                        <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                            value="something" checked>IT
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                        <label class="form-check-label" for="check1">
                                            <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                                value="something" checked>EEE
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                            <label class="form-check-label" for="check1">
                                                <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                                    value="something" checked>EI
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                                <label class="form-check-label" for="check1">
                                                    <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                                        value="something" checked>EC
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                    <label class="form-check-label" for="check1">
                                                        <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                                            value="something" checked>CIVIL
                                                    </label>
                                                </div>
                        </td>
                    </tr>
                  

                                  <tr>
                                 <td scope="row">
                               <label for="duration">Duration(in Seconds)</label>
                                 </td>
                                 <td>
                                     <input type="number" name="duration" id="duration" >
                                 </td>
                             </tr>
                             
                             <tr>
                             <td scoper="row" align="right">
                                    <button type="button" class="btn btn-info">save</button>
                             </td>
                             <td align="left">
                                    <button type="button" class="btn btn-danger">Cancel</button>
                             </td>    
                             </tr>
                      </div>
                    </td>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
    
    <div id="video" class="container tab-pane fade"><br>
      <h3>Upload Video</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
    </div>
    
    <div id="pdf" class="container tab-pane fade"><br>
      <h3>Upload PDF</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    
    <div id="text" class="container tab-pane fade"><br>
      <h3>Upload Text</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>    
    
  </div>
</div>

{% endblock content %}