{% extends "admin/adminmaster.html" %}
{% block head %}
<style>
    /* Bootstrap css */
    @import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
    
    /* Google Material icons */
    @import "http://fonts.googleapis.com/icon?family=Material+Icons";
    
    /* Propeller css */
    @import "dist/css/propeller.min.css";
    
    /* Bootstrap datetimepicker */
    @import "datetimepicker/css/bootstrap-datetimepicker.css";
    
    /* Propeller datetimepicker */
    @import "datetimepicker/css/pmd-datetimepicker.css";
     </style>
{% endblock head%}


{% block content %}
<!-- jquery JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap js -->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Propeller textfield js --> 
<script type="text/javascript" src="dist/js/propeller.min.js"></script>

<!-- Datepicker moment with locales -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/moment-with-locales.js"></script>

<!-- Propeller Bootstrap datetimepicker -->
<script type="text/javascript" language="javascript" src="datetimepicker/js/bootstrap-datetimepicker.js"></script>

<script>
	// Linked date and time picker 
	// start date date and time picker 
	$('#datepicker-start').datetimepicker();

	// End date date and time picker 
	$('#datepicker-end').datetimepicker({
		useCurrent: false 
	});
	
	// start date picke on chagne event [select minimun date for end date datepicker]
	$("#datepicker-start").on("dp.change", function (e) {
		$('#datepicker-end').data("DateTimePicker").minDate(e.date);
	});
	// Start date picke on chagne event [select maxmimum date for start date datepicker]
	$("#datepicker-end").on("dp.change", function (e) {
		$('#datepicker-start').data("DateTimePicker").maxDate(e.date);
	});
</script>
 <form action="{{url_for('imgform')}}" method="post" enctype="multipart/form-data">
<div class="container">
<br>
  <h2>ADD NEW NOTICE</h2>

  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#image">Image</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#video">Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#pdf">PDF</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#text">Text</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- this is for images -->
    <div id="image" class="container tab-pane active"><br>
     
      <div class="container">
    <div class="row">
        <div class="col-sm-12">
            
              <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                                <h1 class="display-4">Upload Image</h1></th>

                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <div class="input-group">
                            <td scope="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" name="imgfiles" accept="image/*">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </td  >                      
                        </div>
                    </tr>

                    <tr>
                        <td scope="row">
                            post to-
                        </td>
                        <td>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="dept"
                                        value="mca" checked>MCA
                                </label>
                            </div>
                        </td>
                    </tr>
                  

                                  <tr>
                                 <td scope="row">
                               <label for="duration">Duration(in Seconds)</label>
                                 </td>
                                 <td>
                                     <input type="number" name="duration" id="duration" min="1" >
                                 </td>
                             </tr>
                             
                             <tr>
                             <td scoper="row" align="right">
                                    <button type="submit" name="formbtn" value="img" class="btn btn-info">save</button>

                             </td>
 
                             </tr>
                          {% if msg %}
                          <tr><span class="badge badge-success"> {{ msg }} </span></tr>
        
         
                          {% endif %}
                      
                    </td>
                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>
    </div>
    <!-- this is for video -->
    <div id="video" class="container tab-pane fade"><br>
      <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                                <h1 class="display-4">Upload Video</h1></th>

                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <div class="input-group">
                            <td scope="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" name="vidfiles" accept="video/*">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </td  >                      
                        </div>
                    </tr>

                    <tr>
                        <td scope="row">
                            post to-
                        </td>
                        <td>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="deptvid"
                                        value="mca" checked>MCA
                                </label>
                            </div>
                        </td>
                    </tr>
                  

                                  <tr>
                                 <td scope="row">
                               <label for="durationvid">Duration(in Seconds)</label>
                                 </td>
                                 <td>
                                     <input type="number" name="durationvid" id="durationvid" min="1" >
                                 </td>
                             </tr>
                             
                             <tr>
                             <td scoper="row" align="right">
                <button type="submit" class="btn btn-info" name="formbtn"  value="vid">save</button>
                             </td>
                                   
                             </tr>
                          {% if msg %}
                          <tr><span class="badge badge-success"> {{ msg}} </span></tr>
        
         
                          {% endif %}
                      
                    </td>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
    <!-- this is for pdf -->
    <div id="pdf" class="container tab-pane fade"><br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                                <h1 class="display-4">Upload PDF</h1></th>

                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <div class="input-group">
                            <td scope="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" name="pdffiles" accept="application/pdf">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </td  >                      
                        </div>
                    </tr>

                    <tr>
                        <td scope="row">
                            post to-
                        </td>
                        <td>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="deptpdf"
                                        value="mca" checked>MCA
                                </label>
                            </div>
                        </td>
                    </tr>
                  

                                  <tr>
                                 <td scope="row">
                               <label for="durationpdf">Duration(in Seconds)</label>
                                 </td>
                                 <td>
                                     <input type="number" name="durationpdf" id="durationpdf" min="1" >
                                 </td>
                             </tr>
                             
                             <tr>
                             <td scoper="row" align="right">
                <button type="submit" class="btn btn-info" name="formbtn"  value="pdf">save</button>
                             </td>
                                   
                             </tr>
                          {% if msg %}
                          <tr><span class="badge badge-success"> {{ msg }} </span></tr>
        
         
                          {% endif %}
                      
                    </td>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>

    <!-- this is for text -->
    <div id="text" class="container tab-pane fade"><br>
     
        <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">
                                <h1 class="display-4">Upload Text</h1></th>

                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <div class="input-group">
                            <td scope="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">ENTER TEXT:</span>
                                    </div>
                            </td>
                            <td>
                                <div class="custom-file">
                                    <textarea rows="2" cols="80" name="comment" form="usrform">
</textarea>
                                  
                                </div>
                            </td  >                      
                        </div>
                    </tr>

                    <tr>
                        <td scope="row">
                            post to-
                        </td>
                        <td>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                        value="mca" checked>MCA
                                </label>
                            </div>                       
                        </td>
                    </tr>
                  

                                  <tr>
                                 <td scope="row">
                               <label for="txtduration">Duration(in Seconds)</label>
                                 </td>
                                 <td>
                                     <input type="number" name="txtduration" id="txtduration" >
                                 </td>
                             </tr>
                             
                             <tr>
                             <td scoper="row" align="right">
                                    <button type="submit" name="formbtn"  value="txt" class="btn btn-info">save</button>
                             </td>
   
                             </tr>
                      </div>
                    </td>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
      
    </div>    
    
  </div>
</div>
</form>
{% endblock content %}