<html>
<head>
      <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock head%}

  </head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">WNB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/ahome">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Active notices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/requests">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addnewnotice">Add new notices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home">Logout</a>
    </li>
  </ul>
    </div>
</nav>



 <div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
      {% block content %}{% endblock %} 
  </div>
</div>
     
 </div>
 



<footer id="sticky-footer" class="py-4 bg-dark  text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</div>
</body>
</html>