{% extends "admin/adminmaster.html" %}
{% block head %}
<style>
    /* Bootstrap css */
    @import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
    
    /* Google Material icons */
    @import "http://fonts.googleapis.com/icon?family=Material+Icons";
    
    /* Propeller css */
    @import "dist/css/propeller.min.css";
    
    /* Bootstrap datetimepicker */
    @import "datetimepicker/css/bootstrap-datetimepicker.css";
    
    /* Propeller datetimepicker */
    @import "datetimepicker/css/pmd-datetimepicker.css";
     </style>
{% endblock head%}


{% block content %}
<form action="{{url_for('approvals')}}" method="post" enctype="multipart/form-data">
  <!-- bootsrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- bootsrap -->

<div class="container">

      <h3>Approve Notice</h3>
    {% if times %}
     <span class="badge badge-danger">you have {{times[0]}} Requests</span>
    {% endif %}
<!--       <div class="container-fluid">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>Approve</th>
            <th>update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><select name="idsel">
              <option value="select">select id</option>
              {% for sliders in disp2 %}
              <option value="{{sliders[0]}}">{{sliders[0]}}</option>
              {% endfor %}
            </select></td></td>
            <td><select name="statussel">
              <option value="1">Accept</option>
              <option value="-1">Reject</option>
            </select></td>
            <td><button type="submit" name="update" value="approve" class="btn btn-primary btn-block">Update</button></td>
          </tr>
          <tr><div>                          {% if msg %}
        <span class="badge badge-danger"> {{ msg }} </span>
         
    {% endif %}</div></tr>
        </tbody>
      </table>

</div> -->
<hr>
<hr>
  <div class="container-fluid">
    
  
  <table class="table table-hover">
          <thead>
              <tr>
                  <th>slide-id</th>
                  <th>slide</th>
                  <th>Requested By</th>
                  <th>Requested time(Sec)</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {% for sliders in disp2 %}
              <tr>
                <!-- id -->
                <td>    
                  <input type="hidden" name="approvalid" value="{{sliders[0]}}" id="minput" />
                {{sliders[0]}}
              </td>
              <!-- file image,vid,txt -->
                {% if sliders[3] == "image" %}
                 <td><img class="img-fluid" src="/static/{{sliders[1]}}" alt="{{sliders[1]}}" height="150px" width="150px"></td>
                  {% elif sliders[3] == "video" %}
                  <td><video id="vids{{sliders[0]}}" class="embed-responsive-item" controls="true" muted="true" height="150px" width="150px">
        <source src="/static/{{sliders[1]}}">
        </video></td>
                  {% else %}
                  <td>{{sliders[1]}}</td>
                  {% endif %}
                  <!-- who is the use -->

                  <td>{{sliders[4].capitalize()}}</td>

                  <!-- time duartion -->
                <td>{{sliders[5]}}</td>                  
                <!-- active:yes or no -->
                {%if sliders[2] == 0 %}
                  <td>Pending</td>
                  {% endif %}

                  <td>
                    <button type="submit" name="approval" value="{{sliders[0]}}.1" class="btn btn-success">Accept</button>
                    <br>
                    <button type="submit" name="approval" value="{{sliders[0]}}.-1" class="btn btn-danger">Reject</button>
                  </td>
              </tr>
              
              {% endfor %}
          </tbody>
      </table>
  </div>

</div>
</form>
{% endblock content %}