{% extends "admin/adminmaster.html" %}
{% block head %}
<style>
    /* Bootstrap css */
    @import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
    
    /* Google Material icons */
    @import "http://fonts.googleapis.com/icon?family=Material+Icons";
    
    /* Propeller css */
/*    @import "dist/css/propeller.min.css";*/
    
    /* Bootstrap datetimepicker */
/*    @import "datetimepicker/css/bootstrap-datetimepicker.css";*/
    
    /* Propeller datetimepicker */
/*    @import "datetimepicker/css/pmd-datetimepicker.css";*/
     </style>
{% endblock head%}


{% block content %}

  <!-- bootsrap -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- bootsrap -->

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#notice">Notice List</a></li>
    <li><a data-toggle="tab" href="#delete">Delete</a></li>
  </ul>

  <div class="tab-content">
    <!-- only showing active images videos and text -->
    <div id="notice" class="tab-pane fade in active">
      <h3>Notice list</h3>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>slide-id</th>
                  <th>slide</th>
                  <th>active?</th>
              </tr>
          </thead>
          <tbody>
            {% for sliders in disp %}
              <tr>
                <!-- id -->
                <td>{{sliders[0]}}</td>
              <!-- file image,vid,txt -->
                {% if sliders[3] == "image" %}
                 <td><img class="img-fluid" src="/static/{{sliders[1]}}" alt="{{sliders[1]}}" height="300px" width="300px"></td>
                  {% elif sliders[3] == "video" %}
                  <td><video id="vids{{sliders[0]}}" class="embed-responsive-item" controls="true" muted="true" height="300px" width="300px">
        <source src="/static/{{sliders[1]}}">
        </video></td>
                  {% else %}
                  <td>{{sliders[1]}}</td>
                  {% endif %}
                <!-- active:yes or no -->
                {%if sliders[2] == 1 %}
                  <td>yes</td>
                {% else %}
                <td>no</td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
      </table>
    </div>

    <!-- toggle on and off slides -->
<!-- 
    <div id="toggle" class="tab-pane fade">
      <h3>Toggle Notice</h3> -->
<!--       <div class="container-fluid">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>activate</th>
            <th>update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><select name="idsel">
              <option value="select">select id</option>
              {% for sliders in disp2 %}
              <option value="{{sliders[0]}}">{{sliders[0]}}</option>
              {% endfor %}
            </select></td></td>
            <td><select name="activesel">
              <option value="1">Yes</option>
              <option value="0">NO</option>
            </select></td>
            <td><button type="submit" name="update" value="toggle" class="btn btn-primary btn-block">Update</button></td>
          </tr>
          <tr><div>                          {% if msg %}
        <span class="badge badge-danger"> {{ msg }} </span>
         
    {% endif %}</div></tr>
        </tbody>
      </table>

</div>
<hr>
<hr> -->

<!--   <div class="container-fluid"> -->
    
  
<!--   <table class="table table-hover">
          <thead>
              <tr>
                  <th>slide-id</th>
                  <th>slide</th>
                  <th>active?</th>
                  <th colspan="2" style="text-align: center;">Action</th>
              </tr>
          </thead>
          <tbody>
            {% for sliders in disp2 %}
              <tr id="{{sliders[0]}}"> -->
                <!-- id -->
<!--                 <td >
                  {{sliders[0]}}

                </td> -->
              <!-- file image,vid,txt -->
<!--                 {% if sliders[3] == "image" %}
                 <td><img class="img-fluid" src="/static/{{sliders[1]}}" alt="{{sliders[1]}}" height="150px" width="150px"></td>
                  {% elif sliders[3] == "video" %}
                  <td><video id="vids{{sliders[0]}}" class="embed-responsive-item" controls="true" muted="true" height="150px" width="150px">
        <source src="/static/{{sliders[1]}}">
        </video></td>
                  {% else %}
                  <td>{{sliders[1]}}</td>
                  {% endif %} -->
                <!-- active:yes or no -->
<!--                 {%if sliders[2] == 1 %}
                  <td>yes</td>
                {% else %}
                <td>no</td>
              
              {% endif %} -->

             
<!--             <td align="center">
               <form  action="{{url_for('toggleformon')}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="toggleid" value="{{sliders[0]}}" />
              <button type="submit" name="updateon" value="{{sliders[0]}}" class="btn btn-success">TURN ON</button>
                  </form>
                <form name="formoff{{sliders[0]}}" action="{{url_for('toggleformoff')}}" method="post" enctype="multipart/form-data">
            <button type="submit" name="updateoff" value="{{sliders[0]}}" class="btn btn-danger">TURN OFF</button>
          </form>
        
          </td>

              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

    </div> -->

    <!-- deleting slides -->
   
    <div id="delete" class="tab-pane fade">
      <h3>Delete Notice</h3>
 <!--      <div class="container-fluid">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>delete</th>
            <th>update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><select name="delidsel">
              <option value="select">select id</option>
              {% for sliders in disp2 %}
              <option value="{{sliders[0]}}">{{sliders[0]}}</option>
              {% endfor %}
            </select></td></td>
            <td><select name="delsel">
              <option value="1">Yes</option>
              <option value="0">NO</option>
            </select></td>
            <td><button type="submit" name="update" value="delete" class="btn btn-primary btn-block">DELETE</button></td>
          </tr>
          <tr><div>                          {% if msg %}
        <span class="badge badge-danger"> {{ msg }} </span>
         
    {% endif %}</div></tr>
        </tbody>
      </table>

</div>
<hr>
<hr> -->
 <form action="{{url_for('deleteform')}}" method="post" enctype="multipart/form-data">
  <div class="container-fluid">
    
  
  <table class="table table-hover">
          <thead>
              <tr>
                  <th>Slide-id</th>
                  <th>Slide</th>
                  <th>Active?</th>
                  <th style="text-align: center;">Delete</th>
              </tr>
          </thead>
          <tbody>
            {% for sliders in disp2 %}
              <tr>
                <!-- id -->
                <td>{{sliders[0]}}
<input type="hidden" id="del{{sliders[0]}}" name="delidsel" value="{{sliders[0]}}"  />
                </td>
              <!-- file image,vid,txt -->
                {% if sliders[3] == "image" %}
    <td><img class="img-fluid" src="/static/{{sliders[1]}}" alt="{{sliders[1]}}" height="150px" width="150px"></td>
                  {% elif sliders[3] == "video" %}
                  <td><video id="vids{{sliders[0]}}" class="embed-responsive-item" controls="true" muted="true" height="150px" width="150px">
        <source src="/static/{{sliders[1]}}">
        </video></td>
                  {% else %}
                  <td>{{sliders[1]}}</td>
                  {% endif %}
                <!-- active:yes or no -->
                {%if sliders[2] == 1 %}
                  <td>yes</td>
                {% else %}
                <td>no</td>

              {% endif %}
            <td style="text-align: center;"><button type="submit" name="update" value="{{sliders[0]}}" class="btn btn-danger"><i class="large material-icons">delete</i></button></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
    </div>
    <!-- upto here -->
  </div>
  </form>
</div>

{% endblock content %}