<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="refresh" content="{{times}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
      <!-- <link href="/slider/jsImgSlider/themes/6/js-image-slider.css" rel="stylesheet" />
    <script src="/slider/jsImgSlider/themes/6/mcVideoPlugin.js" type="text/javascript"></script>
    <script src="/slider/jsImgSlider/themes/6/js-image-slider.js" type="text/javascript"></script> -->
    <style type="text/css" media="screen">
            @media screen and (min-width: 601px) { 
                .text { 
                    font-size: 40px; 
                } 

            } 
            @media screen and (max-width: 600px) { 
                .text { 
                    font-size: 30px; 
                } 
            } 
            @media screen and (min-width: 800px) { 
                .text { 
                    font-size: 60px; 
                } 

            } 
      
    </style>

    <title>Display</title>


<!-- <script type="text/javascript">
$('#carouselExampleSlidesOnly').on('slide.bs.carousel', function onSlide (ev) {
  var id = ev.relatedTarget.id;
  switch (id) {
    case "imgdiv":
      // do something the id is 1
                var vid = document.getElementById("vids");

  vid.autoplay = false;
      break;
    case "viddiv":
      // do something the id is 2
                var vid = document.getElementById("vids");

  vid.autoplay = true;
  vid.load();
      break;
    default:
      //the id is none of the above
  }
})
</script> -->
</head>
<body style="overflow-x:hidden; overflow-y: hidden; cursor: none;">
    <div class="container-fluid" style="overflow-x:hidden; overflow-y: hidden;">
    	<div class="row">
    <div class="col-sm-12">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-pause="false" >
  <div class="carousel-inner" id="block1">
  	<div class="carousel-item active" data-interval="3000" >
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron jumbotron-fluid"
            style="background-image: linear-gradient(141deg, #2cb5e8 0%, #1fc8db 51%, #2cb5e8 75%);">
            <div class="container">
              <h1 class="display-3" style="color: #17a2b8;">WIRELESS NOTICE BOARD</h1>
              <p class="lead" style="color: #17a2b8;">One place to display your ADs.</p>
    
            </div>
          </div>
        </div>
        </div>
    </div>
  	{% for sliders in disp %}

        {% if sliders[2] == "text" %}
    <div id="textdiv" class="carousel-item" data-interval="{{sliders[1]}}">
        <div class="container-fluid">
         
                   
                <div class="jumbotron jumbotron-fluid"
            style="background-image: linear-gradient(141deg, #2cb5e8 0%, #1fc8db 51%, #2cb5e8 75%);word-wrap: break-word;">
            <div class="container">
              <h1 class="text" id="text" style="color: #17a2b8;">{{sliders[0]}}</h1>
            </div>
          </div>
    </div>
        </div>
      
    {% endif %}

      {% if sliders[2] == "image" %}
    <div id="imgdiv" class="carousel-item" data-interval="{{sliders[1]}}">
      <img align="middle"  class="img-fluid" src="/static/{{sliders[0]}}" alt="{{sliders[0]}}">
      
      
    </div>
    {% endif %}


      {% if sliders[2] == "video" %}
      <div id="viddiv" class="carousel-item" data-interval="{{sliders[1]}}">
        <div class="embed-responsive embed-responsive-16by9">
  <!-- <iframe id="vids" class="embed-responsive-item" src="/static/{{sliders[0]}}?controls=0&amp;showinfo=0;" frameborder="0" ></iframe> -->

  <video id="vids" class="embed-responsive-item" controls="true" muted="true">
        <source src="/static/{{sliders[0]}}">
        </video>
</div>

    </div>
    {% endif %}




{% endfor %}
  </div>

<script type="text/javascript">
$('#carouselExampleSlidesOnly').on('slide.bs.carousel', function onSlide (ev) {
  var id = ev.relatedTarget.id;
  switch (id) {
    case "imgdiv":
      // do something the id is 1
                var vid = document.getElementById("vids");
                vid.pause();
                vid.autoplay = false;
      break;
      case "textdiv":
      // do something the id is 1
                var vid = document.getElementById("vids");
                 vid.pause();
                 vid.autoplay = false;
      break;

    case "viddiv":
      // do something the id is 2
                var vid = document.getElementById("vids");
                vid.autoplay = true;
                 vid.load();
      break;

    default:
      //the id is none of the above
  }
})
</script>
</div>


    </div>
</div>
    </div>

</body>
</html>
