{% extends "layout.html" %}
{% block headu %}

    <title>Registration</title>
{% endblock headu %}



{% block content %}
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                

                <form method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="fullname" class="form-control" placeholder="Full name" type="text">
                          {% if errorname %}
        <span class="badge badge-danger"> {{ errorname }} </span>
         
    {% endif %}
    {% if okname %}
       <span class="badge badge-success">{{ okname }}</span>
    {% endif %}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select name="ext" class="custom-select" style="max-width: 120px;">
                            <option selected="">+91</option>
                        </select>
                        <input name="mobile" class="form-control" placeholder="Phone number" type="text">
                        {% if errormob %}
        <span class="badge badge-danger"> {{ errormob }} </span>
         
    {% endif %}
    {% if okmob %}
       <span class="badge badge-success">{{ okmob }}</span>
    {% endif %}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <select name="type" class="form-control">
                            <option selected=""> Select Type</option>
                            <option>PRINCIPAL</option>
                            <option>MCA_HOD</option>
                            <option>CS_HOD</option>
                            <option>IT_HOD</option>
                            <option>CIVIL_HOD</option>
                            <option>EI_HOD</option>
                            <option>EC_HOD</option>
                            <option>EEE_HOD</option>
                            <option>USER</option>
                        </select>
                    </div> <!-- form-group end.// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" name="password" placeholder="Create password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" name="confirm" placeholder="Repeat password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Have an account? <a href="">Log In</a> </p>
                </form>
            </article>
        </div> <!-- card.// -->

    </div>
</body>


{% endblock content %}