{% extends "layout.html" %}
{% block headu %}

    <title>Registration</title>
{% endblock headu %}



{% block content %}
<body>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
           <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      
  
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
            <form id="form" method="PUT">
   
  


    <div class="form-group">
        <label class="control-label" for="input_1">Name</label>
        <div class="form-input-error-msg alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> This field is mandatary</div>
        <input type="text" id="input_1" class="form-control validate">
    </div>

    <!-- Email -->
    <!-- ==================================================================== -->
    <hr>

    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <div class="form-input-error-msg alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> <span class="error-empty">Empty Field</span>
            <span class="error-wrong">Mail not correct</span>
        </div>
        <input type="email" id="email" class="form-control validate email-format">
    </div>

    <!-- Password -->
    <!-- ==================================================================== -->
    <hr>

    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <div class="form-input-error-msg alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> Type your password
        </div>
        <input type="password" id="password" class="form-control validate pswd">
    </div>

    <div class="form-group">
        <label class="control-label" for="passwordConfirm">Confirm Password</label>
        <div class="form-input-error-msg alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> 
            <span class="error-empty">Confirm your password</span>
            <span class="error-wrong">Passwords don't match</span>
        </div>
        <input type="password" id="passwordConfirm" class="form-control validate pswd-confirm" data-confirm="#password">
    </div>

    <!-- Phone Inputs -->
    <!-- ==================================================================== -->
    <hr>

    <div class="form-group">
        <label class="control-label" for="phone">Telephone Number</label>
        <div class="form-input-error-msg alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>  
            <span class="error-empty"> Insert your Phone Number</span>
            <span class="error-wrong" >Not correct number</span>
        </div>
        <input type="tel" id="phone" class="form-control validate">
    </div>

    <!-- Selects -->
    <!-- ==================================================================== -->
    <hr>
  
    <div class="form-group">
        <label class="control-label" for="select_1">Select</label>
        <div class="form-input-error-msg alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> Select an option 
        </div>
        <select id="select_1" class="validate form-control">
            <option class="not-option">Select an Option</option>
            <option val="1">Option 1</option>
            <option val="2">Option 2</option>
            <option val="3">Option 3</option>
        </select>
    </div>

   

    <button id="submit" class="btn btn-primary btn-lg">Sumbit</button>
        <script src="{ url_for('static', filename='formValidator.js') }}">
            $(document).ready(function() {
                var globOpts = {
                    bootstrap: true,
                    mail: {
                        format: true,
                        confirm: true
                    },
                    password: {
                        format: true,
                        formatRegEx: /\b([A-Z0-9])([a-z0-9]+)?\b/gm,
                        confirm: true
                    },
                    telephone: {
                        numbersOnly: false
                    },
                    showErrors: true
                }
            
                var fv = new formValidator(globOpts)
                var validation = fv.validate('#form', '#submit', {
                    success: function() {
                        alert('validation success!')
                    },
                    fail: function() {
                        alert('validation fail!')
                    }
                });
            
            });

        </script>
</form>
       
        <!-- Javascript -->

          </div>
      </div>
  </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('home') }}">Sign In</a>
        </small>
    </div>

</body>


{% endblock content %}